extends layout

block content
    .card.mb-3
        h3.card-header.no-top-border Edit a User
        .card-body
            #editUserAlert
            form#editUserForm
                .form-row
                    .form-group.col
                        label(for="createUserEmail") Email Address
                        input#createUserEmail.form-control(type="email" placeholder="name@example.com" name="email" required readonly="readonly")
                .form-row
                    .form-group.col
                        label(for="createUserAgentName") Agent URL
                        input#createUserAgentName.form-control(type="text" name="agent_name" required)
                hr
                .form-row
                    .col-md-4
                        h4 General Info
                    .col-md-8
                        .form-row
                            .form-group.col
                                label(for="infoLegalName") Legal Name
                                input#infoLegalName.form-control(type="text" name="legal_name" readonly disabled)
                        .form-row
                            .form-group.col
                                label(for="infoLEINumber") LEI
                                input#infoLEINumber.form-control(type="text" name="LEI" readonly disabled)
                hr
                .form-row
                    .col-md-4
                        h4 Address
                    .col-md-8
                        .row
                            .col-md-8
                                .form-group
                                    label(for="editUserAddress1") Address 1
                                    input#editUserAddress1.form-control(type="text" name="address_line_1" required)
                        .row
                            .col-md-8
                                .form-group
                                    label(for="editUserAddress2") Address 2
                                    input#editUserAddress2.form-control(type="text" name="address_line_2" required)
                        .form-row
                            .form-group.col-md-4
                                label(for="editUserCity") City
                                input#editUserCity.form-control(type="text" name="city" required)
                            .form-group.col-md-3
                                label(for="editUserState") State
                                input#editUserState.form-control(type="text" name="state" required)
                            .form-group.col-md-2
                                label(for="editUserZipCode") Zip
                                input#editUserZipCode.form-control(type="text" name="zip_code" required)
                            .form-group.col-md-3
                                label(for="editUserCountry") Country
                                input#editUserCountry.form-control(type="text" name="country" required)
                hr
                .form-row
                    .col-md-4
                        h4 Certification Info
                        .text-center
                            img#userPortraitPreview.img-thumbnail(src="" height="200" alt="Profile Image")
                    .col-md-8
                        .form-row
                            .form-group.col
                                label(for="createUserDateOfIssue") Date Issued
                                input#createUserDateOfIssue.form-control(type="text" name="date_of_issue" required)
                            .form-group.col
                                label(for="createUserExpires") Expires
                                input#createUserExpires.form-control(type="text" name="expiration_date" required)

                hr
                .d-flex.flex-row-reverse
                    button#editUserButton.btn.btn-primary(type="submit" data-original-text="Update" data-loading-text="<i class='fas fa-circle-notch fa-spin'></i> Updating") Update
                    button#cancelEditUserButton.btn.btn-primary.mr-2(type="button") Cancel

block scripts
    script(src="/javascripts/user_edit.js")