extends layout

block nav
    a.btn.btn-secondary.pl-4.pr-4(href="/admin") Admin

block content
    .card.mb-3.pl-4.pr-4
        .card-body
            .row
                .col-md-4
                    img.img-fluid.d-none.d-md-block(src="/images/navbar-logo.png")

                .col-md-8
                    .banner-sign-in.align-self-center
                        #loginCarousel.carousel.slide(data-ride="false" data-interval="false" data-keyboard="false" data-wrap="false" pause="false")
                            .carousel-inner
                                .carousel-item.active
                                    h3 Digital Credential Sign On
                                    button#mobile-sign-on-button.btn.btn-primary.vcSignonLink Login with a digital credential
                                    button.btn.btn-primary.vcSignupLink(href="/signup") Sign up for an account
                                    .sign-in-links
                                        a.userpassLink(href="#") Login with Email and Password
                                .carousel-item
                                    h3 Sign On
                                    form#loginForm
                                        .form-row.m-0
                                            .form-group.col.p-0.m-0
                                                label#userIDLabel.hidden-form-label(for="userID") Email
                                                input#userID.form-control(type="text" name="username" placeholder="Email" required)
                                        .form-row.m-0
                                            .form-group.col.p-0.m-0
                                                label#passwordLabel.hidden-form-label(for="password") Password
                                                input#password.form-control(type="password" name="password" placeholder="Password" required)
                                        button.btn.btn-primary.mt-3(type="submit") Sign On
                                    .sign-in-links
                                        .row
                                            a.col(href="#") Forgot your email?
                                        .row
                                            a.col(href="#") Forgot Password?
                                            a.col.vcSignonLink(href="#") Register for Online Access
                                .carousel-item
                                    h3 Digital Credential Sign On
                                    form#vcSignonForm
                                        .row.ml-0.mr-0
                                            .col.pr-0.pl-0
                                                label#vcUserIDLabel.hidden-form-label(for="vcUserID") Email
                                                input#vcUserID.form-control(type="text" name="username" placeholder="Email" required)
                                        button.btn.btn-primary.mt-3(type="submit") Sign On
                                        span.extension-loaded.d-none.text-muted.ml-3 Chrome extension detected
                                    .sign-in-links
                                        .row
                                            a.col.userpassLink(href="#") Login with Username and Password
                                        .row
                                            a.col.vcSignupLink(href="#") Sign up for an account

block extra
    #vcSignonModal.ift-signon.modal(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal")
                        span &times;
                .modal-body
                    #vcSignonCarousel.carousel.slide(data-ride="false" data-interval="false" data-keyboard="false" data-wrap="false" pause="false")
                        .carousel-inner
                            .carousel-item.active.text-center
                                h2 Collecting information
                                .spinner-container
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                .verifying-creds-text
                                    span Please wait
                            .carousel-item.text-center
                                h2 Establishing a connection with your agent
                                .spinner-container
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                .verifying-creds-text
                                    span Please accept the connection offer
                            .carousel-item.text-center
                                h2 Checking your account credential
                                .spinner-container
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                .verifying-creds-text
                                    span Please accept the verification request
                            .carousel-item.text-center
                                h2 Login succeeded
                                .spinner-container.text-success
                                    i.fas.fa-check.fa-5x
                                .verifying-creds-text
                                    span Redirecting to your account...
                            .carousel-item.text-center
                                h2 Login failed
                                p.mt-2.mb-2 We were unable to authenticate your digital credential.
                                #loginErrorCode.text-danger
                                #loginErrorMessage.text-danger.mb-2
                                button.btn.btn-primary.userpassLink(type="button" data-dismiss="modal") Standard Sign On

    #vcSignupModal.ift-signon.modal(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal")
                        span &times;
                .modal-body
                    #vcSignupCarousel.carousel.slide(data-ride="false" data-interval="false" data-keyboard="false" data-wrap="false" pause="false")
                        .carousel-inner

                            .carousel-item.active.text-center
                                h2 Before registering for an account..
                                .row.mt-4.mb-4.text-left
                                    .col-sm-3
                                    .col-sm-6
                                        p.text-decoration-bolder You will need the following credentials:
                                        ul
                                            li An IFT Founder Credential
                                            li And one of the following: 
                                            ul
                                                li Trust Your Supplier Credential 
                                                li LEI Credential
                                    .col-sm-3
                                div
                                    button#credsNextButton.btn.btn-primary Next
                                    a.vcSignupCancel.ml-2.text-decoration-underline(href="#") Cancel

                            .carousel-item.text-center
                                h2 Please enter an email, password, and agent URL to create a IFT Network member account
                                .signup-form.text-left
                                    form#signupForm
                                        .form-group
                                            label.hidden-form-label(for="signupUserID") Email Address
                                            .input-group
                                                input#signupUserID.form-control(type="text" name="username" placeholder="Email Address" required)
                                                .input-group-append
                                                    span.input-group-text @example.com
                                        .form-group
                                            label.hidden-form-label(for="signupPassword") Password
                                            input#signupPassword.form-control(type="password" name="password" placeholder="Password" required)
                                        .form-group
                                            label.hidden-form-label(for="signupConfirmPassword") Confirm Password
                                            input#signupConfirmPassword.form-control(type="password" name="confirm_password" placeholder="Confirm Password" required)
                                            span#signupPasswordMessage
                                        .form-group
                                            label.hidden-form-label(for="signupAgentName") Agent URL
                                            input#signupAgentName.form-control(type="text" name="agent_name" placeholder="Agent URL" required)
                                        .form-group
                                            label.hidden-form-label(form="signupCredentialType") Choose Credential Type  
                                            br                                        
                                            input#signupCredentialType(type='radio' name='credential_type' value='TYS' required)
                                            |  TYS
                                            br
                                            input#signupCredentialType(type='radio' name='credential_type' value='LEI' required)
                                            |  LEI
                                div
                                    button#signupNextButton.btn.btn-primary(disabled) Next
                                    a.vcSignupCancel.ml-2.text-decoration-underline(href="#") Cancel
                                    span.extension-loaded.d-none.text-muted.ml-3 Chrome extension detected

                            .carousel-item.text-center
                                h2 Collecting information
                                .verifying-creds-text
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                    span Please wait

                            .carousel-item.text-center
                                h2 Establishing a connection with your agent
                                .verifying-creds-text
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                    span Please accept the connection offer.

                            .carousel-item.text-center
                                h2 Checking your identification
                                .verifying-creds-text
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                    span Please accept the verification request

                            .carousel-item.text-center
                                h2 Issuing your account information
                                .verifying-creds-text
                                    i.fas.fa-circle-notch.fa-spin.fa-2x
                                    span Please accept the credential offer

                            .carousel-item.text-center
                                .text-success
                                    i.fas.fa-check.fa-5x
                                .verifying-creds-text.text-success
                                    h5 All done!
                                    p Redirecting to your account...

                            .carousel-item.text-center
                                h2 Enrollment Failed
                                .signup-failed-text
                                    p.mb-2 You don’t have permission to create an account.
                                    #signupErrorCode.text-danger
                                    #signupErrorMessage.text-danger.mb-2
                                button.btn.btn-primary.userpassLink(type="button" data-dismiss="modal") Standard Sign On

                            .carousel-item.text-center
                                h2 Enrollment Failed
                                .signup-failed-text
                                    p You already have an account.
                                button.btn.btn-primary.vcSignonLink(type="button" data-dismiss="modal") Digital Credential Sign On

block scripts
    script(src="/javascripts/login.js")
    script(src="/javascripts/qrcode.min.js")
